# requirements.txt

#----------Standard libraies--------------
# Deep learning library 
torch==2.1.0

# NumPy for numerical computations
numpy==1.26.2

#---------Customized modules--------------
# Data processing and data loader generate 
Data.py 

# Neural network class
Model.py

# Model prediction 
Model_Inference.py